{% extends 'base.html' %}
{% load static %}

{% block privilegy %}
<header class="header-area single-page">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo-area">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-title text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h2>Pricing Plan</h2>
                    <p>Understand our pricing structure and find the best plan for your requirements.</p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Pricing Table Starts -->
<section class="pricing-table section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-top text-center">
                    <h2>Ideal tariff plan</h2>
                    <p>Choose the plan that best suits your needs and budget.</p>
                </div>
            </div>
        </div>
        <h2>Buy a privilege</h2>
        <div class="row">
            {% for point in privilegys %}
            <div class="col-md-4">
                <div class="single-table text-center mb-4 mb-md-0">
                    <div class="table-top">
                        <h3>{{ point.title }}</h3>
                        {% if point.title == "Базовый" %}
                        <i class="fa fa-home"></i>
                        {% elif point.title == "Средний" %}
                        <i class="fa fa-home"></i>
                        {% else %}
                        <i class="fa fa-building-o"></i>
                        {% endif %}
                    </div>
                    <ul class="my-5">
                        <li class="mb-2">{{ point.description }}</li>
                    </ul>
                    <button type="button" class="template-btn" data-toggle="modal" data-target="#paymentModal-{{ point.id }}">{{ point.cost }}$</button>
                </div>
            </div>

            <!-- Модальное окно -->
            <div class="modal fade" id="paymentModal-{{ point.id }}" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel-{{ point.id }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="paymentModalLabel-{{ point.id }}">Enter your bank card details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'buy_privilege' point.id %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="cardNumber">Card number</label>
                                    <input type="text" class="form-control" id="cardNumber" name="card_number" placeholder="Введите номер карты">
                                </div>
                                <div class="form-group">
                                    <label for="cardName">The name on the map</label>
                                    <input type="text" class="form-control" id="cardName" name="card_name" placeholder="Введите имя на карте">
                                </div>
                                <div class="form-group">
                                    <label for="expiryDate">Validity</label>
                                    <input type="text" class="form-control" id="expiryDate" name="expiry_date" placeholder="MM/YY">
                                </div>
                                <div class="form-group">
                                    <label for="cvv">CVV</label>
                                    <input type="text" class="form-control" id="cvv" name="cvv" placeholder="CVV">
                                </div>
                                <button type="submit" class="btn btn-primary">Оплатить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Pricing Table End -->

<!-- Pricing Box Starts -->
<div class="pricing-box section-padding3">
    <div class="container">
        <div class="row" style="display: flex; align-items: stretch;">
            <div class="col-md-6 d-flex">
                <div class="single-box1 text-center mb-4 mb-md-0 flex-fill">
                    <h3>Submit Resume Today</h3>
                    <p>Take the next step in your career by submitting your resume. Join our platform and get noticed by top employers looking for talented people like you.</p>
                    <a href="{% url 'random_vacancy' %}" class="template-btn">Submit Your CV</a>
                </div>
            </div>
            <div class="col-md-6 d-flex">
                <div class="single-box2 text-center flex-fill">
                    <h3>Post a New Job Now!</h3>
                    <p>Are you a recruiter looking for the ideal candidate for your company? Post your job posting today and connect with qualified professionals looking to join your team.</p>
                    {% if user.is_authenticated and user.is_recruiter %}
                    <a href="{% url 'vacancy_create' %}" class="template-btn">Post a Job</a>
                    {% else %}
                    <a href="#" class="template-btn">Post a Job</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pricing Box End -->
{% endblock privilegy %}