{% load static %}
<header class="header-area main-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo-area">
                        <a href="#"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="custom-navbar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>  
                    <div class="main-menu">
                        <ul>
                            <li class="active"><a href="{% url 'home' %}">home</a></li>
                            <li><a href="{% url 'about_us_page' %}">about us</a></li>
                            <li><a href="{% url 'vacancy_list' %}">category</a></li>
                            <li><a href="#">blog</a>
                                <ul class="sub-menu">
                                    <li><a href="#">Blog Home</a></li>
                                    <li><a href="#">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'contacts_page' %}">contact</a></li>
                            <li><a href="{% url 'privilegy_page' %}">Pricing Plan</a></li>
                            {% if user.is_anonymous %}
                                <li class="menu-btn">
                                    <a href="{% url 'login_page' %}" class="login">log in</a>
                                    <a href="{% url 'register_page' %}" class="template-btn">sign up</a>
                                </li>
                            {% else %}
                                <li class="menu-btn">
                                    {% if user.is_superuser %}
                                        <a href="/admin/" class="template-btn">{{user.username}}</a>
                                    {% else %}
                                        <a href="{% url 'profile_page' %}" class="template-btn">{{user.username}}</a>
                                    {% endif %}
                                        <a href="{% url 'log_out_page' %}">Log Out</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</header>