{% extends 'base.html' %}
{% load static %}

{% block vacancy %}

<style>
    .search-bg {
    padding: 20px;
    border-radius: 10px;
    background-color: #FFA500; /* Замените на нужный цвет, если необходимо */
}

.search-bg form {
    background: none; /* Удаление фонового цвета */
}

.form-select {
    margin-right: 10px; /* Отступ между select-ами */
}

.single-content1 {
    min-height: 250px; /* Измените при необходимости */
}

.single-job {
    margin-bottom: 0; /* Уменьшить расстояние между вакансиями */
}

.single-content1 .job-text h4 a {
    text-decoration: none;
    color: #333; /* Цвет ссылки на заголовке вакансии */
}
.nice-select span.current {
    line-height:0px;
}
</style>

<!-- Header Area Starts -->
<header class="header-area single-page">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo-area">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-title text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h2>Job Category</h2>
                    <p>There spirit beginning bearing the open at own every give appear in third you sawe two boys</p>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->

<div class="container mt-4">
    <h2>Список вакансий</h2>
    {% if user.is_authenticated and user.is_recruiter %}
    <div class="mb-4 d-flex justify-content-between">
        <a href="{% url 'vacancy_create' %}" class="btn btn-primary mb-4">Создать вакансию</a>
        <a href="{% url 'recruiter_responses' %}" class="btn btn-success mb-4">Отклики на вакансии</a>
    </div>
    {% endif %}

    <!-- Форма фильтрации -->
    <div class="search-area mb-4" style="margin: 50px 0 0 0;">
        <div class="search-bg" style="background-color: #FFA500;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <form method="get" action="{% url 'vacancy_list' %}" class="d-md-flex flex-column align-items-center justify-content-between">
                            <div class="d-md-flex flex-row w-100 justify-content-between mb-2">
                                <select name="category" class="form-select" style="flex: 1; min-width: 150px;">
                                    <option value="">All Category</option>
                                    <option value="Part Time" {% if request.GET.category == 'Part Time' %}selected{% endif %}>Part Time</option>
                                    <option value="Full Time" {% if request.GET.category == 'Full Time' %}selected{% endif %}>Full Time</option>
                                    <option value="Remote" {% if request.GET.category == 'Remote' %}selected{% endif %}>Remote</option>
                                    <option value="Office Job" {% if request.GET.category == 'Office Job' %}selected{% endif %}>Office Job</option>
                                </select>
                                <select name="location" class="form-select" style="flex: 1; min-width: 150px;">
                                    <option value="">Select Location</option>
                                    <option value="Минск" {% if request.GET.location == 'Минск' %}selected{% endif %}>Минск</option>
                                    <option value="Москва" {% if request.GET.location == 'Москва' %}selected{% endif %}>Москва</option>
                                    <option value="Barishal" {% if request.GET.location == 'Barishal' %}selected{% endif %}>Barishal</option>
                                    <option value="Noakhali" {% if request.GET.location == 'Noakhali' %}selected{% endif %}>Noakhali</option>
                                </select>
                            </div>
                            <div class="d-md-flex flex-row w-100 justify-content-between mb-2">
                                <input type="text" name="keyword" placeholder="Search Keyword or Company" value="{{ request.GET.keyword }}" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword or Company'" class="form-control mr-2" style="flex: 1; min-width: 150px;">
                                <input type="text" name="min_salary" placeholder="Min Salary" value="{{ request.GET.min_salary }}" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Min Salary'" class="form-control mr-2" style="flex: 1; min-width: 150px;">
                                <input type="text" name="max_salary" placeholder="Max Salary" value="{{ request.GET.max_salary }}" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Max Salary'" class="form-control" style="flex: 1; min-width: 150px; margin-right: 9px;">
                            </div>
                            <button type="submit" class="btn btn-primary template-btn mt-2">Find Job</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Job Single Content Starts -->
    <div class="row">
        {% for vacancy in vacancies %}
        <div class="col-lg-6 mb-4">
            <div class="single-content1 border rounded" style="height: 100%;">
                <div class="single-job d-lg-flex justify-content-between align-items-center">
                    <div class="job-text">
                        <h4><a href="{% url 'vacancy_detail' vacancy.id %}">{{ vacancy.title }}</a></h4>
                        <ul class="mt-4 list-unstyled">
                            <li class="mb-3"><h5><i class="fa fa-map-marker"></i> {{ vacancy.city }}</h5></li>
                            <li class="mb-3"><h5><i class="fa fa-pie-chart"></i> {{ vacancy.company.name }}</a></h5></li>
                            <li class="mb-3"><h5>$ {{ vacancy.salary }}</h5></li>
                            <li><h5><i class="fa fa-clock-o"></i> Deadline: Dec 11, 2018</h5></li>
                        </ul>
                    </div>
                    <div class="job-img">
                        <img src="{% static 'assets/images/job1.png' %}" alt="job" style="max-width: 100px;">
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Job Single Content End -->
</div>

{% endblock vacancy %}